<%= form_for(@background_job, url: auto_buy_path, method: :put) do |f| %>
  <%= f.hidden_field :job_name %>

  <p>
    <%= f.label :username_for_job %><br />
    <%= f.text_field :username_for_job %>
  </p>

  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>

  <p>
    <%= f.label :search_products_by %><br />
    <%= f.text_field :search_products_by %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>