Ilość zadań aktualnie działających: <%= AutoBuyWorker.count_jobs_running %> </br>

<% if @background_jobs.any? %>
  <table class="table table-condensed table-striped">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Działa zadań</th>
      <th>Nazwa zadania</th>
      <th>Interwał zadania</th>
      <th>Nazwa użytkownika allegro</th>
      <th>Kup przedmioty z tytułem</th>
      <th span="2"></th>
      <th span="2"></th>
      <th></th>
    </tr>
    <% @background_jobs.each do |background_job| %>
      <tr>
        <td><%= background_job.id %></td>
        <td style="<% (background_job.last_update_in_sec > 15) && background_job.status.in?(["new", "working"]) ? 'color: red;' : 'color: green;' %>"><%= background_job.status %></td>
        <td><%= AutoBuyWorker.count_jobs_running_with_params({ "background_job_id"=> background_job.id }) %></td>
        <td><%= background_job.job_name %></td>
        <td><%= background_job.interval %></td>
        <td><%= background_job.username_for_job %></td>
        <td><%= background_job.search_products_by %></td>
        <td style="display: inline-block;">
          <%= link_to "Info", auto_buy_path(id: background_job.id), class: 'btn btn-info' %>
          <%= link_to "Edytuj", edit_auto_buy_path(id: background_job.id), class: 'btn btn-info' %>
        </td>
        <td style="display: inline-block;">
          <%= link_to "Ponów", retry_job_auto_buys_path(id: background_job.id), class: 'btn btn-info' %>
          <%= link_to "Zakończ", stop_working_auto_buys_path(id: background_job.id), class: 'btn btn-warning' %>
        </td>
        <td style="display: inline-block;">
          <%= button_to "Usuń", auto_buy_path(:id => background_job.id), :method => :delete, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  Nie ma żadnych zadań, stwórz nowe: </br>
  <%= link_to "Nowe zadanie", new_auto_buy_path %>
<% end %>