<%= form_for(@background_job, url: auto_buys_path, html: { class: "form-horizontal center" }) do |f| %>
  <%= f.hidden_field :job_name %>

  <% #f.error_messages %>

  <%= f.fields_for :account do |account| %>
    <p>
      <%= account.label :username %><br />
      <%= account.text_field :username, placeholder: "uzytkownik allegro" %>
    </p>

    <p>
      <%= account.label :password_first %><br />
      <%= account.password_field :password_first, placeholder: "haslo allegro" %>
    </p>

    <p>
      <%= account.label :password_second %><br />
      <%= account.password_field :password_second, placeholder: "haslo allegro" %>
    </p>
  <% end %>

  <p>
    <%= f.label :username_for_job %><br />
    <%= f.text_field :username_for_job, placeholder: "użytkownik, np. 'terg_abc'" %>
  </p>

  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval, placeholder: "liczba, np. '1'" %>
  </p>

  <p>
    <%= f.label :search_products_by %><br />
    <%= f.text_field :search_products_by, placeholder: "nazwa, np. 'woda; sok'" %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>