<div class="container">
  <div class="row">
    <div class="col-sm-4">
      ID
    </div>
    <div class="col-sm-8">
      <%= @background_job.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Status
    </div>
    <div class="col-sm-8">
      <%= @background_job.status %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Średnia dlugość wykonania
    </div>
    <div class="col-sm-8">
      <%= "#{@background_job.last_runtime_sec.to_f.round(3)} sekund" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Ostatnia zmiana
    </div>
    <div class="col-sm-8">
      <%= "#{@background_job.last_update_in_sec.to_f.round(3)} sekund temu" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Sleep interval
    </div>
    <div class="col-sm-8">
      <%= @background_job.interval %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Username for job
    </div>
    <div class="col-sm-8">
      <%= @background_job.username_for_job %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Search products by
    </div>
    <div class="col-sm-8">
      <%= @background_job.search_products_by %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Started at
    </div>
    <div class="col-sm-8">
      <%= @background_job.created_at %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      Log
    </div>
    <div class="col-sm-8">
      <%= @background_job.log.gsub(/\n/, '<br>').html_safe if @background_job.log.present? %>
    </div>
  </div>

</div>
