<!DOCTYPE html>
<html>
  <head>
    <title>AllegroAutoBuy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' , 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="sidenav">
      <%= link_to "Lista auto kupowania", auto_buys_path %>
      <%= link_to "Nowe auto kupowanie", new_auto_buy_path %>
    </nav>
    <div class="main">
      <% if notice.present? %>
        <div class="jumbotron">
          <%= notice  %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
